{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "title-text">
      <a href = "{% url 'base_url'%}" class = "url-text">Emporia Sport</a>
      <p>Регистрация участников на соревнования</p>
    </div>
    <br>
    <form class = "find-element" action="find" method="get" enctype="multipart/form-data">
      {% csrf_token %}
      <input name="search" type="text">
      <input type="submit" value="Поиск">
    </form>
    {% block content %}{% endblock %}
</body>
</html>