{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "title-text">
      <div class = "url-text">Emporia Sport</div>
      <p>Регистрация участников на соревнования</p>
    </div>
    <br>
    <form class = "find-element" action="" method="get" enctype="multipart/form-data">
      <input name="participant" type="text" value="{{ data.input }}">
      <input type="submit" value="Поиск">
    </form>
    {% block content %}{% endblock %}
</body>
</html>