{% extends 'base.html' %}

{% block title %}Список участников{% endblock %}

{% block content %}
<ul>
    <div class = "card-container">
        {% for order in data.orders %}
            <div class="card">
                <a href="{% url 'order_url' order.id %}" class = "card-button">
                    <img src={{order.srcIMG}} alt="Image">
                    <h3>{{order.title}}</h3>
                    <p>{{order.description}}</p>
                </a>
            </div>
            <!-- {% include 'order_element.html' with element=order %} -->
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </div>
</ul>
{% endblock %}