{% extends 'base.html' %}
{%  load static %}
{% block title %}Список участников{% endblock %}

{% block content %}
<ul>
    <div class = "card-container">
        {% for participant in data.participants %}
            {% if participant.status == 'A' %}
            <div class="card">
                <a href="{% url 'participants_url' participant.id %}" class = "card-button">
                    <img src="{% static participant.link %}" alt="Image">
                    <h3>{{participant.full_name}}</h3>
                    <form action="delete" method="post">
                        {% csrf_token %}
                        <input class="card-delete-input" type="text" name="delete_card" value="{{participant.id}}">
                        <input class="card-delete-button" type="submit" value="удалить">
                    </form>
                </a>
            {% endif %}
            </div>
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </div>
</ul>
{% endblock %}