{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>Информация о кандидате №{{data.participants.id}}</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="title-text"><h1>{{ data.participants.full_name }}</h1></div>
    <div>
      <img class = "image" src="{% static data.participants.link %}" alt="Image">
      <p class = "title-text">
        Дата рождения: {{data.participants.bdate}}<br>
        Рост: {{data.participants.height}}<br>
        Вес: {{data.participants.weight}}<br>
        <div class = "bold">Описание</div><br> 
        <div class = "title-text">{{data.participants.description}}</div>
      </p>
    </div>
    <a href = "../../" class = "button">Назад</a>
  </body>
</html>