{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>Информация о кандидате №{{data.participants.id}}</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="title-text"><h1>{{ data.participants.title }}</h1></div>
    <div>
      <img class = "image" src="{% static data.participants.img %}" alt="Image">
      <p class = "title-text">Дата рождения: {{data.participants.BDate}}
        <br>
        Вид спортивного занятия: {{data.participants.Sport}}<br>
        Сила: {{data.participants.Power}}<br>
        Ловкость: {{data.participants.Agility}}<br>
        Выносливость: {{data.participants.Endurance}}<br>
        Описание: {{data.participants.Description}}
      </p>
    </div>
</body>
</html>